{% extends 'todo/main.html' %}
{% block content %}

<div class="card card-body" id="items">

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>

        {% for item in items %}

        <tr>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_due}}</td>
            <td><a class="btn btn-sm btn-info" href="">Edit</a></td>
            <td><a class="btn btn-sm btn-danger" href="">Remove</a></td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}